[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
records = "*"
cryptography = "*"
click = "*"
webpy = {git = "https://github.com/webpy/webpy"}
python-daemon = "*"
psutil = "*"
pystandardpaths = "*"


[dev-packages]

pytest = "*"
pylint = "*"
yapf = "*"
