attrs==17.4.0 
certifi==2018.1.18 
click==6.7
click-log==0.2.1
cryptography==2.3.1
psutil==5.4.3
pystandardpaths==0.3.2
python-daemon==2.1.2
records==0.5.2
requests==2.21.0
tablib==0.12.1
web.py==0.40.dev1
#git+https://github.com/webpy/webpy#egg=webpy
